<div class="app-wrap">
  <header class="header">
    <div class="mobile-wrap-top">
      <div class="logo">
        Open Library
      </div>
      <div class="mobile">
        <a class="burger" (click)="toggle()">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
    <div [class.open]="isOpen" class="mobile-wrap-bottom">
      <div class="nav">
        <ul>
          <li>
            <a routerLink="/books" routerLinkActive="active">{{'nav_home' | translate}}</a>
          </li>
          <li>
            <a routerLink="/favorites" routerLinkActive="active">{{'nav_favorites' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="lang">
        <ul>
          <li *ngFor="let lang of translationService.languages">
            <a (click)="translationService.changeLang(lang)" [class.active]="translationService.language === lang">{{lang}}</a>
          </li>
        </ul>
      </div>
    </div>
    </header>
  <main class="content">
    <div class="content-wrap">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>