<div class="field select" (click)="open($event)">
  <div *ngIf="label" class="label">{{label}}</div>
  <input type="text" class="input" [value]="getValueString()" (keypress)="false">
  <div *ngIf="isOpen" class="dropdown">
    <ul *ngIf="options.length; else noItems">
      <li *ngFor="let option of options">
        <label>
          <input type="checkbox" [(ngModel)]="option.checked" (change)="onCheckboxChange()">
          {{option.name ? option.name : (option.translation) | translate}}
        </label>
      </li>
    </ul>
    <ng-template #noItems>
      <div class="placeholder-text">
        {{'select_input_no_items' | translate }}
      </div>
    </ng-template>
  </div>
</div>