@import "normalize.css/normalize.css";

* {
  box-sizing: border-box;
}
html {
  min-width: 320px;
  font-size: 16px;
}
body {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
}

.panels-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-panel {
  display: flex;
  flex-shrink: 0;
  margin: 10px -10px;
  .cell {
    width: 33.333333%;
    padding: 0 10px;
    &.full {
      width: 100%;
    }
  }
}

.content-panel {
  flex-grow: 1;
  overflow: auto;
}

.bottom-panel {
  flex-shrink: 0;
  margin: 0 -10px;
  padding: 15px 10px;

  background-color: #eeeeee;
}

.placeholder-text {
  font-style: italic;
  color: #888888;
}

.field {
  position: relative;
  display: block;
  padding: 18px 0 0 0;
  .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    font-size: 0.875rem;
    line-height: 1;

    color: #aaaaaa;
  }
  .input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 2px 0;

    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #aaaaaa;

    outline: none;

    font-size: 1rem;
  }

  &.select {
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 11px;
      right: 10px;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
      transform: rotate(45deg)
    }
    .input {
      padding-right: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      max-height: 250px;
      overflow: auto;
      padding: 10px;

      background-color: #ffffff;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    ul {
      margin: -5px 0;
      padding: 0;
      list-style: none;
    }
    li {
      padding: 5px 0;
      > * {
        vertical-align: middle;
      }
    }
    label {
      display: block;
      cursor: pointer;
    }
  }

  &.tags {
    ul {
      margin: -5px;
      padding: 0;
      list-style: none;
      &::after {
        content: '';
        display: block;
        clear: both;
        
      }
    }
    li {
      position: relative;
      float: left;
      margin: 5px;
      padding: 5px 30px 5px 10px;
      border-radius: 14px;
      background-color: #cccccc;
    }
    a {
      position: absolute;
      top: 5px;
      right: 8px;
      &:after {
        content: '\2715';
        cursor: pointer;
      }
    }
  }
}